.element__like {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url('../../../images/element-like-disabled.svg');
    background-size: contain;
}
.element__like:hover {
    opacity: 50%;
}