.popup__name {
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 400px;
    font-size: 14px;
}