.popup__button_disabled {
    border: 1px solid #E5E5E5;
    background-color: #fff;
    color: #E5E5E5;
    opacity: 1;
}

.popup__button_disabled:hover {
    border: 1px solid #E5E5E5;
    background-color: #fff;
    color: #E5E5E5;
    opacity: 1;
}