
.profile__add-button {
    width: 150px;
    height: 50px;
    font-size: 24px;
    flex: 0 0 auto;
    padding: 0;
    color: inherit;
    border: 2px solid #FFFFFF;
    background: transparent;
    background-image: url('../../../images/plus.svg');
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
    cursor: pointer;
    outline: inherit;
    margin-left: 85px;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media (max-width: 879px) and (min-width: 320px) {
    .profile__add-button {
        margin-left: 0;
            max-width: 282px;
            width: 100%;
            background-size: 16px 16px;
        }
}